<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <pkgroup_customeroffer>
            <configuration>
                <categories>2,3,5</categories>
            </configuration>
        </pkgroup_customeroffer>
    </default>
</config>